@import "../../styles/variables";

.fastingListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 35px;

  .fastingListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .listGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .viewAllOption {
    border: none;
    background: none;
    color: $view-all-text-color;
    font-size: $font-size-normal;
    font-weight: $font-weight-medium;
    cursor: pointer;
  }
}
